
@font-face {
  font-family: 'Lato';
  src: 'https://fonts.googleapis.com/css?family=Lato';
}

.card {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%; /* added */
  display: flex; /* added */
  flex-direction: column; /* added */
  justify-content: space-between; /* added */
}

.card .card-body {
  flex: 1; /* added */
}

body {
  font-size: 16px;
  padding-bottom: 90vh;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  font-size: 16px;
}
